*{
    margin: 0px;
    padding: 0px;
}
.headnav{
    display: flex;
    display: inline;
    position: sticky;
    top: 0;
}
nav{
    font-family: 'Roboto', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 90px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    height: 60px;
    padding-left: 0px;
    padding-right: 12px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem;
}
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 12px auto;
    width: 70%;
    border-radius: 12px;
    padding: 24px;
}
.bottom{
    display: flex;
    position: sticky;
    bottom: 0;
    flex-direction: column;
    background-color: black;
    color: antiquewhite;
    height: 100px ;
    align-items: center;
    justify-content: center;
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
#myprogressbar{
    width: 80vw;
}